.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-background {
  background-color: #87d1db;
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
}